<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>test</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>Header</display-name>
    <servlet-name>Header</servlet-name>
    <servlet-class>ch03.Header</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Header</servlet-name>
    <url-pattern>/Header</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>Encoding</display-name>
    <servlet-name>Encoding</servlet-name>
    <servlet-class>ch03.Encoding</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>Encoding</servlet-name>
    <url-pattern>/Encoding</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>RequestBody</display-name>
    <servlet-name>RequestBody</servlet-name>
    <servlet-class>ch03.RequestBody</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>RequestBody</servlet-name>
    <url-pattern>/RequestBody</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>UploadByPart</display-name>
    <servlet-name>UploadByPart</servlet-name>
    <servlet-class>ch03.UploadByPart</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>UploadByPart</servlet-name>
    <url-pattern>/UploadByPart</url-pattern>
  </servlet-mapping>
</web-app>